.select {
    width: 100%
}

.select-input-error__control {
    background-color: #f2f2f2;
    width: 100%;
    height: 54px;
    border-radius:26.7494px !important;
    border-color: red !important;
    border-width: 3px !important
}
.select-input-error__value-container {
    color: #4F4F4F !important;
    padding: 2px 0 2px 15px;
    justify-content: center;
}

.select-input-error__placeholder {
    color: #120C1F !important;
    font-weight: normal;
}

.select-input__control {
    background-color: #f2f2f2;
    width: 100%;
    height: 54px;
    border-radius: 26.7494px !important;
    border-color: #CCCCCC !important;
    justify-content: center;
}

.select-input-error__control {
    border-width: 3px;
    border-color: red
}

.select-input__value-container {
    color: #4F4F4F !important;
    padding: 2px 0 2px 15px;
    justify-content: center;
}

.select-input__menu .select-input__option {
    text-align: center;
}

.select-input-error__menu .select-input-error__option {
    text-align: center;
}

.select-input__placeholder {
    color: #120C1F !important;
    font-weight: normal;
}
.select-input__indicator-separator, .select-input-error__indicator-separator {
    display: none;
}

.select-input__indicator, .select-input-error__indicator {
    color: #CCCCCC  ;
    padding: 14px;
}